html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 6rem;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    border-bottom: 1px solid black;
    background: #8A1919;
    position: fixed;
    /* quero que fique na frente de tudo */
    z-index: 1;

}
main{
    padding: 2rem;
    padding-top: 8rem;
    padding-bottom: 6rem;
}
a{
    text-decoration: none;
}
.coluna {
    display: flex;
    flex-direction: column;
}
.iconemenu {
    width: 2rem;
    height: auto;
}
.iconesheader{
    margin-right: 0.8rem;
    margin-bottom: 0.2rem;
    width: 2rem;
    height: auto;
}
.posicaomenu{
    display: flex;
    position: absolute;
    left: 0.5rem;
    top: 3.5rem;
}

.posicaologo{
    display: flex;
    position:absolute;
    left: 3.5rem;
    top: 3.8rem;
}
.textologo{
    display: flex;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.linha {
    display: flex;
    flex-direction: row;
}

.tirafoto{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    
}


.camera-icon{
    margin-right: 1rem;
    width: 4rem;
    height: auto;
}

.circulo {
    background-color: lightgray;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    border-color: black;
    border-width: 1rem;
}

.video-icon{
    margin-left: 1rem;
    width: 4rem;
    height: auto;

}



.camera{
    width: 100%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #8A1919;
    position: relative;
    z-index: 0;
}






footer{
    width: 100%;
    height: 5rem;
    display: flex;
    border-bottom: 1px solid black;
    background: #8A1919;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav_icons{
    width: 3.5rem;
    height: auto;
}


.popup-hidden {
    display: none;
  }
  
  #popup {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    z-index: 2; 
  }
  
  .popup-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #8A1919;
    position: relative;
    top:0rem;
    padding: 1rem;
    padding-top: 5.5rem;
    border: 1px solid #888;
    width: 16.5rem;
    height: 100%;
  }
  
  .close-button {
    display:flex;
    justify-content: flex-end;
    color: black;
    position: absolute;
    width: 1rem;
    height: auto;
    left: 2rem;
    top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
  }

  .button{
    width: 100%;
    left: 0.2rem;
    height: 2rem;
    background: #8A1919;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

.botao_spec{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: normal;
    justify-content: flex-start;
    align-items: flex-start;
}

.botao{
    margin-top: 3rem;
    display: flex;
}
