main {
    max-height: 100%;
    overflow: hidden;
}
.bases1{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.imagens_galeria1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    max-width: 100%;
    bottom: 18.5rem;
    left: 3rem;
    right: .8rem;
}
.imagens_galeria1 img{
    width: 75%; 
    flex-direction: row;
}
.imagens_galeria2 {
    display: flex;
    position: absolute;
    flex-direction: row;
    max-width: 100%;
    bottom: 10.5rem;
    left: 3rem;
    right: .8rem;
}
.imagens_galeria2 img{
    flex-direction: row;
    width: 75%;     
}
.base2 {
    background-color: #f0f0f0; /* Cor de fundo desejada */
    padding: 9rem; 
}

