html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 6rem;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    border-bottom: 1px solid black;
    background: #8A1919;
    position: fixed;
    /* quero que fique na frente de tudo */
    z-index: 1;

}

main{
    padding: 2rem;
    padding-top: 8rem;
    height: 100%;
}
.coluna {
    display: flex;
    flex-direction: column;
}
.iconemenu {
    width: 2rem;
    height: auto;
}
.iconesheader{
    margin-right: 0.8rem;
    margin-bottom: 0.2rem;
    width: 2rem;
    height: auto;
}
.posicaomenu{
    display: flex;
    position: absolute;
    left: 0.5rem;
    top: 3.5rem;
}

.posicaologo{
    display: flex;
    position:absolute;
    left: 3.5rem;
    top: 3.8rem;
}
.textologo{
    display: flex;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.linha {
    display: flex;
    flex-direction: row;
}







/* FAÇA O CÓDIGO AQUI */
.arrow {
    width: 2.5rem;
    height: auto;
}

.headermain{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h1{
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}
button{
    color: white;
    background-color: #8A1919;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    height: 2rem;
}

.caixas{
    background-color: white;
    width: auto;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


p{
    font-size: 1.7rem;
}
.mais{
    position: absolute;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    top:42rem;
    right: 10rem;
    color: white;
}

.popup2{
    flex-direction: column;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}

.plus{
    height: 3rem;
    width: auto;
    margin-right: 1rem;
}

.mapa{
    width: 12rem;
    height: auto;

}
.locais{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_cinza{
    background-color: #E5E5E5;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.ponto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 2rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 4.3rem;
}
.info_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.distancia{
    margin-top: 1rem;
    font-size: 1.2rem;
}






footer{
    width: 100%;
    height: 5rem;
    display: flex;
    border-bottom: 1px solid black;
    background: #8A1919;
    position: fixed;
    bottom: 0;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav_icons{
    width: 3.5rem;
    height: auto;
}



.popup-hidden {
    display: none;
  }
  
  #popup {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    z-index: 10; 
  }
  
  .popup-content {
    display: flex;
    flex-direction: row;
    width: 1rem;
    background-color: #8A1919;
    margin: 50% auto; 
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close-button {
    display:flex;
    justify-content: flex-end;
    color: black;
    position: absolute;
    width: 1rem;
    height: auto;
    right: 2rem;
    top: 12.2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  