<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locais por perto</title>
    <link type="text/css" href="../css/reset.css" rel="stylesheet" />
    <!-- COLOCAR O CSS CERTO ABAIXO -->
    <link type="text/css" href="../TEMPLATE/template.css" rel="stylesheet" />
    <script src="../js/popup.js"></script>
</head>

<body>

    <ul id="popup" class="popup-hidden">
        <li class="popup-content">
            <span class="close-button" onclick="closePopup()">&times;</span>
            <ul class="botao_spec">
                <li class="botao">
                    <a href="../Caso1/feed.html">
                        <button class="botao_spec button">Feed de Atividades</button>
                    </a>
                </li>
                <li class="botao">
                    <a href="../Caso2/1_locais_por_perto.html">
                        <button class="botao_spec button">Buscar</button>
                    </a>
                </li>
                <li class="botao">
                    <a href="../Caso2/1_locais_por_perto.html"></a>
                    <button class="botao_spec button">Minhas reservas</button>
                </li>
                <li class="botao">
                    <button class="botao_spec button">Meu perfil</button>
                </li>
                <li class="botao">
                    <button class="botao_spec button">Ajuda</button>
                </li>
                <li class="botao">
                    <button class="botao_spec button">Sobre</button>
                </li>

            </ul>
        </li>
    </ul>

    <header>
        <ul class="linha">
            <li class="posicaomenu">
                <button class="button" onclick="openPopup()">
                    <img class="iconemenu" src="../icones/menu.png" alt="Menu" />
                </button>
            </li>
            <li class="posicaologo">
                <a href="#" class="textologo">LOGO</a>
            </li>
            <li>
                <a href="galeria.html">
                    <img class="iconesheader" src="../icones/mais.png" alt="Adicionar publicação" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="iconesheader" src="../icones/amigos.png" alt="Amigos" />
                </a>
            </li>
        </ul>
    </header>
    <main>

        <!-- FAÇA O CÓDIGO AQUI -->


    </main>
    <footer>
        <ul class="footer">
            <li>
                <a href="../Caso1/feed.html">
                    <img class="nav_icons" src="../icones/home.png" alt="Home" />
                </a>
            </li>
            <li>
                <a href="../Caso2/1_locais_por_perto.html">
                    <img class="nav_icons" src="../icones/lupa.png" alt="Pesquisar locais" />
                </a>
            </li>
            <li>
                <a href="../Caso3/suas_reservas.html">
                    <img class="nav_icons" src="../icones/reservas.png" alt="Suas reservas" />
                </a>
            </li>
            <li>
                <a href="../CasoExtra/perfil.html">
                    <img class="nav_icons" src="../icones/perfil.png" alt="Seu perfil" />
                </a>
            </li>

        </ul>
    </footer>